.container{
display: grid;
grid-template-columns: 200px auto 20px auto auto;
background-color: gray;
padding: 10px;
gap: 5px;
}


/*ve a buscar la pseudoclase contaier de html y busca los div*/
.container div{
background-color: white;
border: solid 1px ;
padding: 10px;
}